.search-click {
  border: 1px solid #ccc;
  outline: none;
  background-size: 22px;
  background-position: 13px;
  border-radius: 10px;
  width: 15rem;
  padding: 25px;
  transition: all 0.5s;
  z-index: 1;
}
.search-click:focus {
  /* width: 300px; */
  /* padding-left: 50px; */
}
.search-click {
  position: relative;
  overflow: hidden;
}
.search-click input {
  background: transparent;
  border: 1px solid #ccc;
  outline: none;
  position: absolute;
  /* width: 300px; */
  left: 0%;
  padding: 10px;
}